Cars1/Original/StrictExamples
Cars1/Original/*.csv
Cars1/Transformed
Cars1/ASP/User*
Cars1/Results
Cars1/C++Src/parser
Cars1/stats.csv
Cars1/stats

Cars2/Original/StrictExamples
Cars2/Original/*.csv
Cars2/Transformed
Cars2/ASP/User*
Cars2/Results
Cars2/C++Src/parser
Cars2/stats.csv
Cars2/stats

CarEvaluation/Original/StrictExamples
CarEvaluation/Original/*.csv
CarEvaluation/Transformed
CarEvaluation/ASP/User*
CarEvaluation/Results/User0
CarEvaluation/C++Src/parser
CarEvaluation/stats.csv
CarEvaluation/stats

MammographicMass/Original/StrictExamples
MammographicMass/Original/*.csv
MammographicMass/Transformed
MammographicMass/ASP/User*
MammographicMass/Results/User0
MammographicMass/C++Src/parser
MammographicMass/stats.csv
MammographicMass/stats

MammographicMassDownsampled/Original/StrictExamples
MammographicMassDownsampled/Original/*.csv
MammographicMassDownsampled/Transformed
MammographicMassDownsampled/ASP/User*
MammographicMassDownsampled/Results/User0
MammographicMassDownsampled/C++Src/parser
MammographicMassDownsampled/stats.csv
MammographicMassDownsampled/stats

MushroomDownsampled/Original/StrictExamples
MushroomDownsampled/Original/*.csv
MushroomDownsampled/Transformed
MushroomDownsampled/ASP/User*
MushroomDownsampled/Results/User0
MushroomDownsampled/C++Src/parser
MushroomDownsampled/stats.csv
MushroomDownsampled/stats

NurseryDownsampledFurther/Original/StrictExamples
NurseryDownsampledFurther/Original/*.csv
NurseryDownsampledFurther/Transformed
NurseryDownsampledFurther/ASP/User*
NurseryDownsampledFurther/Results/User0
NurseryDownsampledFurther/C++Src/parser
NurseryDownsampledFurther/stats.csv
NurseryDownsampledFurther/stats

TicTacToe/Original/StrictExamples
TicTacToe/Original/*.csv
TicTacToe/Transformed
TicTacToe/ASP/User*
TicTacToe/Results/User0
TicTacToe/C++Src/parser
TicTacToe/stats.csv
TicTacToe/stats

WineDownsampled/Original/StrictExamples
WineDownsampled/Original/*.csv
WineDownsampled/Transformed
WineDownsampled/ASP/User*
WineDownsampled/Results/User0
WineDownsampled/C++Src/parser
WineDownsampled/stats.csv
WineDownsampled/stats

BreastCancerWisconsin/Original/StrictExamples
BreastCancerWisconsin/Original/*.csv
BreastCancerWisconsin/Transformed
BreastCancerWisconsin/ASP/User*
BreastCancerWisconsin/Results/User0
BreastCancerWisconsin/C++Src/parser
BreastCancerWisconsin/stats.csv
BreastCancerWisconsin/stats

Wine_1000Examples

BreastCancerWisconsinDownsampled/Original/StrictExamples
BreastCancerWisconsinDownsampled/Original/*.csv
BreastCancerWisconsinDownsampled/Transformed
BreastCancerWisconsinDownsampled/ASP/User*
BreastCancerWisconsinDownsampled/Results/User0
BreastCancerWisconsinDownsampled/C++Src/parser
BreastCancerWisconsinDownsampled/stats.csv
BreastCancerWisconsinDownsampled/stats

CreditApprovalDownsampled/Original/StrictExamples
CreditApprovalDownsampled/Original/*.csv
CreditApprovalDownsampled/Transformed
CreditApprovalDownsampled/ASP/User*
CreditApprovalDownsampled/Results/User0
CreditApprovalDownsampled/C++Src/parser
CreditApprovalDownsampled/stats.csv
CreditApprovalDownsampled/stats

CreditApprovalDownsampledFurther/Original/StrictExamples
CreditApprovalDownsampledFurther/Original/*.csv
CreditApprovalDownsampledFurther/Transformed
CreditApprovalDownsampledFurther/ASP/User*
CreditApprovalDownsampledFurther/Results/User0
CreditApprovalDownsampledFurther/C++Src/parser
CreditApprovalDownsampledFurther/stats.csv
CreditApprovalDownsampledFurther/stats

GermanCreditDownsampledFurther/Original/StrictExamples
GermanCreditDownsampledFurther/Original/*.csv
GermanCreditDownsampledFurther/Transformed
GermanCreditDownsampledFurther/ASP/User*
GermanCreditDownsampledFurther/Results/User0
GermanCreditDownsampledFurther/C++Src/parser
GermanCreditDownsampledFurther/stats.csv
GermanCreditDownsampledFurther/stats

Ionosphere/Original/StrictExamples
Ionosphere/Original/*.csv
Ionosphere/Transformed
Ionosphere/ASP/User*
Ionosphere/Results/User0
Ionosphere/C++Src/parser
Ionosphere/stats.csv
Ionosphere/stats

IonosphereDownsampled/Original/StrictExamples
IonosphereDownsampled/Original/*.csv
IonosphereDownsampled/Transformed
IonosphereDownsampled/ASP/User*
IonosphereDownsampled/Results/User0
IonosphereDownsampled/C++Src/parser
IonosphereDownsampled/stats.csv
IonosphereDownsampled/stats

IonosphereDownsampledFurther/Original/StrictExamples
IonosphereDownsampledFurther/Original/*.csv
IonosphereDownsampledFurther/Transformed
IonosphereDownsampledFurther/ASP/User*
IonosphereDownsampledFurther/Results/User0
IonosphereDownsampledFurther/C++Src/parser
IonosphereDownsampledFurther/stats.csv
IonosphereDownsampledFurther/stats

SpectHeartDownsampled/Original/StrictExamples
SpectHeartDownsampled/Original/*.csv
SpectHeartDownsampled/Transformed
SpectHeartDownsampled/ASP/User*
SpectHeartDownsampled/Results/User0
SpectHeartDownsampled/C++Src/parser
SpectHeartDownsampled/stats.csv
SpectHeartDownsampled/stats

SpectHeartDownsampledFurther/Original/StrictExamples
SpectHeartDownsampledFurther/Original/*.csv
SpectHeartDownsampledFurther/Transformed
SpectHeartDownsampledFurther/ASP/User*
SpectHeartDownsampledFurther/Results/User0
SpectHeartDownsampledFurther/C++Src/parser
SpectHeartDownsampledFurther/stats.csv
SpectHeartDownsampledFurther/stats

VehicleDownsampledFurther/Original/StrictExamples
VehicleDownsampledFurther/Original/*.csv
VehicleDownsampledFurther/Transformed
VehicleDownsampledFurther/ASP/User*
VehicleDownsampledFurther/Results/User0
VehicleDownsampledFurther/C++Src/parser
VehicleDownsampledFurther/stats.csv
VehicleDownsampledFurther/stats
