Cars1/Original/StrictExamples
Cars1/Original/*.csv
Cars1/Transformed
Cars1/ASP/User*
Cars1/Results
Cars1/C++Src/parser
Cars1/stats.csv
Cars1/stats

Cars2/Original/StrictExamples
Cars2/Original/*.csv
Cars2/Transformed
Cars2/ASP/User*
Cars2/Results
Cars2/C++Src/parser
Cars2/stats.csv
Cars2/stats

CarEvaluation/Original/StrictExamples
CarEvaluation/Original/*.csv
CarEvaluation/Transformed
CarEvaluation/ASP/User*
CarEvaluation/Results
CarEvaluation/C++Src/parser
CarEvaluation/stats.csv
CarEvaluation/stats

MammographicMass/Original/StrictExamples
MammographicMass/Original/*.csv
MammographicMass/Transformed
MammographicMass/ASP/User*
MammographicMass/Results
MammographicMass/C++Src/parser
MammographicMass/stats.csv
MammographicMass/stats

Nursery/Original/StrictExamples
Nursery/Original/*.csv
Nursery/Transformed
Nursery/ASP/User*
Nursery/Results
Nursery/C++Src/parser
Nursery/stats.csv
Nursery/stats

TicTacToe/Original/StrictExamples
TicTacToe/Original/*.csv
TicTacToe/Transformed
TicTacToe/ASP/User*
TicTacToe/Results
TicTacToe/C++Src/parser
TicTacToe/stats.csv
TicTacToe/stats

Wine/Original/StrictExamples
Wine/Original/*.csv
Wine/Transformed
Wine/ASP/User*
Wine/Results
Wine/C++Src/parser
Wine/stats.csv
Wine/stats

BreastCancerWisconsin/Original/StrictExamples
BreastCancerWisconsin/Original/*.csv
BreastCancerWisconsin/Transformed
BreastCancerWisconsin/ASP/User*
BreastCancerWisconsin/Results
BreastCancerWisconsin/C++Src/parser
BreastCancerWisconsin/stats.csv
BreastCancerWisconsin/stats

Wine_1000Examples

BreastCancerWisconsinDownsampled/Original/StrictExamples
BreastCancerWisconsinDownsampled/Original/*.csv
BreastCancerWisconsinDownsampled/Transformed
BreastCancerWisconsinDownsampled/ASP/User*
BreastCancerWisconsinDownsampled/Results
BreastCancerWisconsinDownsampled/C++Src/parser
BreastCancerWisconsinDownsampled/stats.csv
BreastCancerWisconsinDownsampled/stats

CreditApprovalDownsampled/Original/StrictExamples
CreditApprovalDownsampled/Original/*.csv
CreditApprovalDownsampled/Transformed
CreditApprovalDownsampled/ASP/User*
CreditApprovalDownsampled/Results
CreditApprovalDownsampled/C++Src/parser
CreditApprovalDownsampled/stats.csv
CreditApprovalDownsampled/stats

CreditApprovalDownsampledFurther/Original/StrictExamples
CreditApprovalDownsampledFurther/Original/*.csv
CreditApprovalDownsampledFurther/Transformed
CreditApprovalDownsampledFurther/ASP/User*
CreditApprovalDownsampledFurther/Results
CreditApprovalDownsampledFurther/C++Src/parser
CreditApprovalDownsampledFurther/stats.csv
CreditApprovalDownsampledFurther/stats

Ionosphere/Original/StrictExamples
Ionosphere/Original/*.csv
Ionosphere/Transformed
Ionosphere/ASP/User*
Ionosphere/Results
Ionosphere/C++Src/parser
Ionosphere/stats.csv
Ionosphere/stats

IonosphereDownsampled/Original/StrictExamples
IonosphereDownsampled/Original/*.csv
IonosphereDownsampled/Transformed
IonosphereDownsampled/ASP/User*
IonosphereDownsampled/Results
IonosphereDownsampled/C++Src/parser
IonosphereDownsampled/stats.csv
IonosphereDownsampled/stats

SpectHeartDownsampled/Original/StrictExamples
SpectHeartDownsampled/Original/*.csv
SpectHeartDownsampled/Transformed
SpectHeartDownsampled/ASP/User*
SpectHeartDownsampled/Results
SpectHeartDownsampled/C++Src/parser
SpectHeartDownsampled/stats.csv
SpectHeartDownsampled/stats

VehicleDownsampledFurther/Original/StrictExamples
VehicleDownsampledFurther/Original/*.csv
VehicleDownsampledFurther/Transformed
VehicleDownsampledFurther/ASP/User*
VehicleDownsampledFurther/Results
VehicleDownsampledFurther/C++Src/parser
VehicleDownsampledFurther/stats.csv
VehicleDownsampledFurther/stats
